/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
	font-family: 'Open Sans', 'sans serif'
}
.mItem {
	border: 1px solid teal;
}

.mItemF{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid red;
	background-color: yellow;
}
h2 {
	text-align: center;
	font-size: normal;
	color: teal;
}
.red {
	background-color: red;
}
h4, p {
	font-size: small;

}
.right {
	height: 445px;
	width: 400px;


}
.rSide {
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: space-between;*/
	border: 2px solid #26a69a;
	height: 550px;
	width: 400px;
	background: linear-gradient(orange, white);
}

.pure-menu {
	border: 2px solid #26a69a;
	height: 300px;
	width: 600px;
	background-color: white;
	background: linear-gradient(white, white);
}

.wSide {
	display: flex;
	justify-content: space-around;
}
#del {
	background-color: green;
}
footer {
	text-align: center;
}
.quantity{
	display: flex;
}

.money {

}

header {
	opacity: 0.5;
	background-color: black;
}

p {
  line-height: 2rem;
}
.mItem, .wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
